*.save
tmp
*.pyc
src/matlab/*.dat
src/matlab/test.m
src/python/setup.py
tests/*.h5
tests/*.pkl
tests/*.idx
tests/*.dat
tests/*.bz2
tests/flann_multithreaded_test
tests/flann_simple_test
tests/flann_uint_autotune.py
build
build_win
dist/
flann.kdev4
_skbuild
pyflann.egg-info
wheelhouse
.coverage
pyflann_ibeis.egg-info/
tests/coverage.xml
pyflann_ibeis/lib/*.so
pyflann_ibeis/lib/*.so.*
pyflann_ibeis/lib/*.a
